.hero {
  background: linear-gradient(0deg, #fff 25%, $lightYellow 25%);
  height: 100%;

  &__contentframe {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;
  }

  &__leftcontent {
    display: flex;
    flex-direction: column;
    margin: 140px 0px 20px;
    width: 42%;
  }

  &__appbuttons {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px;

    a {
      margin: 0px 20px 0px 0px;
    }
  }

  &__heroimage {
    width: 50%;
    height: auto;
  }
}

.contentlist {
  li {
    max-width: 900px;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }

  &__textframe {
    max-width: 50%;
  }

  &__phonefront {
    max-width: 50%;
    position: relative;
    content-visibility: auto;
  }
}

.secondary,
.contact {
  background-color: $lightYellow;
  padding: 90px 20px;

  &__frame {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__textframe {
    max-width: 470px;
  }

  &__image {
    width: 40%;
    height: auto;
    margin: 0px auto;
  }
}

.contact {
  background-color: $brightYellow;

  &__frame {
    max-width: 900px;
    justify-content: space-around;
  }

  &__textframe {
    form {
      display: flex;
      justify-content: space-between;

      label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      input {
        border-radius: 24px;
        padding: 14px 20px 15px;
        border: 1px solid #dadada;
        background-color: #fff;

        &[type="email"] {
          width: 70%;
          color: #333;
        }

        &[type="submit"] {
          background-color: #1f1f1f;
          color: #fff;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }

  &__image {
    width: 36%;
    margin: 0px 0px;
  }
}

.footer {
  background-color: $darkGrey;
  padding: 90px 20px;
  text-align: center;

  &__frame {
    max-width: 500px;
    margin: 0px auto;
  }

  &__appbuttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 70%;
    margin: 0px auto;

    a img {
      margin: 0px 16px;
    }
  }

  &__copyline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0px auto;
    align-items: center;

    p {
      margin: 0px;
    }
  }

  h2,
  p {
    color: #fff;
  }

  hr {
    width: 100%;
    margin: 66px auto;
    opacity: 0.4;
  }
}

/** landscape ipad or small laptop **/
@media (max-width: 1024px) {
  .hero {
    background: linear-gradient(0deg, #fff 12%, $lightYellow 12%);

    &__contentframe {
      max-width: 900px;
    }

    &__appbuttons {
      a {
        img {
          width: 100%;
          height: auto;
          max-width: 250px;
        }
      }
    }
  }
}

/** portrait ipad **/
@media (max-width: 768px) {
  .hero {
    background: linear-gradient(0deg, #fff 20%, $lightYellow 20%);

    &__contentframe {
      max-width: 700px;
    }

    &__leftcontent {
      margin: 100px 0px 20px;
      width: 50%;
    }

    &__heroimage {
      width: 50%;
      height: auto;
    }
  }

  .contentlist {
    padding: 0px 40px;
  }

  .secondary,
  .contact {
    padding: 70px 40px;
  }

  .secondary {
    &__textframe {
      max-width: 55%;
    }
  }

  .contact {
    &__image {
      width: 25%;
    }
  }

  .footer {
    padding: 60px 40px;

    &__appbuttons {
      a img {
        max-width: 140px;
        width: 100%;
        height: auto;
      }
    }

    &__copyline {
      flex-wrap: wrap;
      justify-content: center;

      p {
        margin: 0px 0px 20px;
        width: 100%;
      }

      a {
        margin: 0px 10px;

        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    hr {
      margin: 40px auto;
    }
  }
}

/** potrait mobile **/
@media (max-width: 420px) {
  .hero {
    background: linear-gradient(0deg, #fff 14%, $lightYellow 14%);

    &__contentframe {
      /* max-width: unset; */
      flex-direction: column;
      padding: 0px 20px;
      align-items: center;
    }

    &__leftcontent {
      margin: 10px 0px 20px;
      width: 100%;
      text-align: center;
      padding: 0px 20px;
    }

    &__appbuttons {
      display: flex;
      flex-direction: row;
      margin: 14px 0px 0px;
      justify-content: space-between;

      a {
        margin: 0px;

        img {
          width: 84%;
          height: auto;
        }
      }
    }

    &__heroimage {
      width: 80%;
      height: auto;
    }
  }

  .contentlist {
    padding: 0px 30px;
    li {
      max-width: 100%;
      display: flex;
      margin: 10px auto;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      padding: 20px 0px 0px;

      &:nth-child(odd) {
        flex-direction: unset;
      }
    }

    &__textframe {
      max-width: 100%;
    }

    &__phonefront {
      max-width: 75%;
      position: relative;
      content-visibility: auto;
    }
  }

  .secondary,
  .contact {
    padding: 50px 30px;
  }

  .secondary {
    &__textframe {
      max-width: 100%;
    }

    &__frame {
      flex-direction: column;
    }

    &__image {
      width: 100%;
      margin: 20px auto;
    }
  }

  .contact {
    &__image {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &__textframe {
      form {
        flex-wrap: wrap;

        input {
          &[type="email"] {
            width: 100%;
            margin-bottom: 10px;
          }

          &[type="submit"] {
            width: 100%;
          }
        }
      }
    }
  }

  .footer {
    &__appbuttons {
      width: unset;

      a img {
        margin: 0px 4px;
        max-width: 130px;
      }
    }
  }
}