.header {
  background-color: $lightYellow;
  padding: 2.6rem 1rem 0.6rem;
  text-align: center;
}

/** portrait ipad **/
@media (max-width: 768px) {
  .header {
    background-color: $lightYellow;
    padding: 3rem 1rem 1rem;
    text-align: center;

    &__logo {
      width: 100px;
      height: auto;
    }
  }
}
